@(message: String)
<!doctype html>
<html ng-app>
<head>
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
<script src="/assets/javascripts/todo.js"></script>
<link rel="stylesheet" href="/assets/stylesheets/todo.css">
<!-- <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css"> -->
</head>
<body>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
        <span>{{remaining()}} of {{todos.length}} remaining</span> [ <a
            href="" ng-click="archive()">clear finished</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done" ng-change="update(todo)"> 
                    <span class="done-{{todo.done}}">
                        {{todo.text}}
                    </span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30" placeholder="add new todo here"> 
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
</body>
</html>